.Hero {
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  border-radius: 5px;
  padding: 30px;
  margin-top: 20px;
  width: 80%;
}

.Artist-Thumb {
  height: 40vmin;
  pointer-events: none;
  border-radius: 100%;
  margin-right: 40px;
}

.Artist-Info {
  align-self: center;
  color: #fff;
}

.Action {
  margin-left: auto;
  align-self: center;
}